@model HomeIndexViewModel

@{
    ViewBag.Title = "Эсхата Онлайн";
}



<img class="img-fluid "  height="500" src="~/images/MainPage-1.png" asp-append-version="true" />
<a asp-controller="home" asp-action="create" class="nav-link">Начать</a>






