@model HomeIndexViewModel

@{
    ViewBag.Title = "Эсхата Онлайн";
}


<div class="card-deck">
    @foreach (var client in Model.Client)
    {
        <div class="card m-3">
            <div class=" card-header">
                <h3>@client.FirstName @client.LastName</h3>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="details" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>

            </div>

        </div>
    
   
}
    </div>
